## INI Format
[defaults]
inventory=./poland_systems
collections_path=./collections:/home/student/.ansible/collections:/usr/share/ansible/collections
roles_path=./roles:/usr/share/ansible/roles:/home/student/.ansible/roles
# gathering=implicit
gathering=explicit
# callback_result_format = yaml 
# stdout_callback = yaml
# bin_ansible_callbacks=true
# pretty_results = true
result_format=yaml
#callback_format_pretty = true
forks=7


[galaxy]
server_list = redhat, validated, free

[galaxy_server.redhat]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=2f13abbe305256ed87520a90c3110bae64c386d4


[galaxy_server.validated]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=2f13abbe305256ed87520a90c3110bae64c386d4

[galaxy_server.free]
url=https://galaxy.ansible.com/
