## INI Format
[defaults]
inventory=./poland_systems
collections_path=./collections:/home/student/.ansible/collections:/usr/share/ansible/collections
# gathering=implicit
gathering=explicit
# callback_result_format = yaml 
# stdout_callback = yaml
# bin_ansible_callbacks=true
# pretty_results = true
# callback_result_format=yaml
result_format=yaml

#callback_format_pretty = true
