{% for nic in complex_list %}
interface {{ nic.eth_name }}
  description {{ nic. eth_desc | quote }}
{% endfor %}

{% for nt in cisco_ntp_servers %}
ntp server {{ nt }}
{% endfor %}

{% for ns in cisco_name_servers %}
ip name-server {{ ns }}
{% endfor %}
